:root {
  --white: rgba(240, 240, 240, 0.795);
  --transparent-white: hsla(0, 0%, 100%, 0.815);
  --light-transparent: hsla(0, 0%, 100%, 0.459);
  --blue: #0087a8;
  --dark-blue: #005b72;
  --red: #ba0038;
  --dark-red: #740023;
  --green: #00795a;
  --dark-green: #005741;
  --orange: #ff7300;
  --dark-orange: #db6300;

  --grey: #464646;
  --black: #272727;
}

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Montserrat', sans-serif;
  font-weight: 100; */

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  color: var(--white)
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
}

.secondary-text {
  color: var(--transparent-white);
}

.navigation-container {
  width: 100vw;
  height: 40px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 15;
}

.navigation-items {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-items > * {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 230;
}

.scroll-elements {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  background-color: transparent;
}

.section {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(orange, red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}

.main-section {
  z-index: 10;
  background-image: linear-gradient(var(--dark-blue), var(--blue));
}

.about-section {
  background-image: linear-gradient(var(--dark-green), var(--green));
}

.programming-section {
  background-image: linear-gradient(var(--dark-orange), var(--orange));
}

.music-section {
  background-image: linear-gradient(var(--dark-red), var(--red));
}

.contact-section {
  background-image: linear-gradient(var(--black), var(--grey));
}

.back-to-top-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  /* background-color: hsla(0, 0%, 85%, 0.534); */
  /* box-shadow: 0 0 5pt 5pt hsla(0, 0%, 85%, 0.534); */
  bottom: 15px;
  right: 15px;
  z-index: 5;
}

.back-to-top-link {
  text-decoration: none;
  font-size: 35px;
  color: var(--light-transparent);
  position: absolute;
  top: -8px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}