:root {
  --white: hsla(0, 0%, 94%, 0.796);
  --solid-white: hsla(0, 0%, 94%, 1);
  --transparent-white: hsla(0, 0%, 100%, 0.534);
  --light-transparent: hsla(0, 0%, 100%, 0.459);
  --very-light-transparent: hsla(0, 0%, 100%, 0.116);
  --blue: #0087a8;
  --dark-blue: #005b72;
  --red: #ba0038;
  --dark-red: #740023;
  --green: #00795a;
  --dark-green: #005741;
  --orange: #fd7200;
  --dark-orange: #9c4600;
  --grey: #464646;
  --black: #272727;
  --navigation-height: 40px;
  --h1-font-size: 5rem;
}

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Montserrat', sans-serif;
  font-weight: 100; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 230;
  color: var(--white)
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

.secondary-text {
  color: var(--light-transparent);
}

/* NAVIGATION */

.navigation-container {
  width: 100vw;
  height: var(--navigation-height);
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 15;
  animation: from-up 1s ease;
}

.navigation-items {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-items>* {
  margin: 0 10px;
  font-size: 1.1rem;
  font-weight: 230;
}

/* COMMON SPECS FOR SECTIONS */

.scroll-elements {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  background-color: transparent;
}

.section {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.section-container {
  height: calc(100vh - var(--navigation-height));
  display: flex;
  flex-direction: column;
  width: 98vw;
  /* overflow-y: scroll; */
}

/* .title-container {
} */

.content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.card {
  width: 100%;
  height: 200px;
  background-color: var(--white);
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 0 2pt var(--light-transparent);
  transition: background-color 250ms ease-in-out;
}

.card>* {
  padding: 0 10px;
}

.card:hover {
  background-color: var(--solid-white);
}

.card-text {
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-text h3, .card-text p {
  color: var(--black);
}

.card-text h3 {
  font-weight: 245;
  margin: 10px 0;
}

.image-and-link {
  display: flex;
  flex-direction: column;
}

.image-and-link>* {
  margin: 5px;
}

.programming-image {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 5px;
}

.image-and-link a {
  background-color: var(--black);
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-and-link a img {
  filter: invert(93%) sepia(91%) saturate(138%) hue-rotate(279deg) brightness(113%) contrast(88%);
}

/* SECTION-SPECIFIC */

.main {
  z-index: 10;
  background-image: linear-gradient(var(--dark-blue), var(--blue));
  justify-content: center;
  position: relative;
  animation: colorAnimation 1s ease;
}

.main h1, .main p {
  white-space: nowrap;
}

.main .section-container {
  height: 250px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 40%;
  animation: from-down 1s ease;
}

.secondary-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: calc(var(--h1-font-size) + 1rem);
  text-align: center;
  animation: from-down2 1.5s ease;
}

.about {
  background-image: linear-gradient(var(--dark-green), var(--green));
}

.programming {
  background-image: linear-gradient(var(--dark-orange), var(--orange));
}

.music {
  background-image: linear-gradient(var(--dark-red), var(--red));
}

.contact {
  background-image: linear-gradient(var(--black), var(--grey));
}

.contact .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
}

.image-container img {
  box-shadow: 0pt 0pt 8pt var(--light-transparent);
  border-radius: 50%;
  width: 270px;
}

.links>* {
  filter: invert(93%) sepia(91%) saturate(138%) hue-rotate(279deg) brightness(113%) contrast(88%);
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

/* BACK TO TOP BUTTON */

.back-to-top-container {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 5;
}

.back-to-top-link {
  text-decoration: none;
  font-size: 35px;
  color: var(--light-transparent);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* MEDIA SCREENS */

@media screen and (max-width: 768px) {
  .back-to-top-container {
    background-color: var(--light-transparent);
    border-radius: 50%;
    box-shadow: 0 0 5pt var(--light-transparent);
  }
  .back-to-top-link {
    color: var(--black);
  }
}

@media screen and (max-width: 430px) {
  :root {
    --h1-font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
  }
  .navigation-items {
    justify-content: space-between;
  }
  .card-text h3 {
    font-size: 1.5rem;
  }
  .contact .content {
    line-height: 2rem;
  }
  .image-container img {
    width: 180px;
  }
}

@media screen and (max-width: 350px) {
  .navigation-items>* {
    font-size: 0.9rem;
  }
}

/* ANIMATIONS */

@keyframes from-up {
  0% {
    top: -40px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes from-down {
  0% {
    top: 65%;
    opacity: 0;
  }
  100% {
    top: 40%;
    opacity: 1;
  }
}

@keyframes from-down2 {
  0% {
    top: 10rem;
    opacity: 0;
  }
  100% {
    top: calc(var(--h1-font-size) + 1rem);
    opacity: 1;
  }
}

@keyframes colorAnimation {
  0% {
    background-image: linear-gradient(hsl(192, 100%, 2%), var(--blue));
  }
  5% {
    background-image: linear-gradient(hsl(192, 100%, 3%), var(--blue));
  }
  10% {
    background-image: linear-gradient(hsl(192, 100%, 4%), var(--blue));
  }
  15% {
    background-image: linear-gradient(hsl(192, 100%, 5%), var(--blue));
  }
  20% {
    background-image: linear-gradient(hsl(192, 100%, 6%), var(--blue));
  }
  5% {
    background-image: linear-gradient(hsl(192, 100%, 7%), var(--blue));
  }
  30% {
    background-image: linear-gradient(hsl(192, 100%, 8%), var(--blue));
  }
  35% {
    background-image: linear-gradient(hsl(192, 100%, 9%), var(--blue));
  }
  40% {
    background-image: linear-gradient(hsl(192, 100%, 10%), var(--blue));
  }
  45% {
    background-image: linear-gradient(hsl(192, 100%, 11%), var(--blue));
  }
  50% {
    background-image: linear-gradient(hsl(192, 100%, 12%), var(--blue));
  }
  55% {
    background-image: linear-gradient(hsl(192, 100%, 13%), var(--blue));
  }
  60% {
    background-image: linear-gradient(hsl(192, 100%, 14%), var(--blue));
  }
  65% {
    background-image: linear-gradient(hsl(192, 100%, 15%), var(--blue));
  }
  70% {
    background-image: linear-gradient(hsl(192, 100%, 16%), var(--blue));
  }
  75% {
    background-image: linear-gradient(hsl(192, 100%, 17%), var(--blue));
  }
  80% {
    background-image: linear-gradient(hsl(192, 100%, 18%), var(--blue));
  }
  85% {
    background-image: linear-gradient(hsl(192, 100%, 19%), var(--blue));
  }
  90% {
    background-image: linear-gradient(hsl(192, 100%, 20%), var(--blue));
  }
  95% {
    background-image: linear-gradient(hsl(192, 100%, 21%), var(--blue));
  }
  100% {
    background-image: linear-gradient(hsl(192, 100%, 22%), var(--blue));
  }
}